<main class="my-5">
    <div class="container">
    <div class="row">
        <div class="col-md-7">
            <img src="https://images.unsplash.com/photo-1540206063137-4a88ca974d1a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80" alt="placeholder" class="img-fluid">
        </div>
        <div class="col-md-5">
            <h1 class="mt-5">Fitlink</h1>
            <p class="mt-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt quasi tenetur suscipit! Culpa, ut sapiente temporibus dolores vitae ratione porro repellendus possimus, commodi sint modi quia beatae ex nam! Exercitationem?</p>
            <button type="button" class="btn btn-primary mt-3">
                Compare Personal Trainers
            </button>
        </div>
    </div>
    <div class="row my-5">
        <div class="col">
            <div class="bg-secondary text-white my-3 py-3 card text-center">
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, perferendis.
                </div>
            </div>
        </div>
    </div>
    <div class="row"></div>
    </div>
</main>
